* {
    margin: 0;
    padding: 0;
}
.head-logo {
    width: 100px;
    padding: 5px;
    
}
.head-container {
    background-color: #424141;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}
.nav {
    display: flex;
    list-style: none;
    /* margin-right: 90px; */
    
}
.nav-list {
    font-size: 18px;
    padding: 5px;
    margin-right: 17px;
}
.nav-list:hover{
    background-color: #9BE8D8;
    color: black;
}
.banner-image {
    width: 300px;
}
.banner-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 100vh;
    align-items: center;
    background-image: url("../images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
}
.heading {
    color: white;
    font-size: 54px;
    font-weight: bold;
}
.description {
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
button {
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.about {
    padding-top: 20px;
    text-align: center;
}
.title{
    font-size: 54px;
}
.about-img {
    width: 270px;
    /* padding-top: 25px; */
}
.about-container {
   
    display: flex;
    padding: 25px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.about {
    margin:20px
}
.about-description {
    margin-bottom: 15px;
}

.descriptions {
    font-size: 18px;
    margin-top: 15px;
}

.service-container{
    background-image: url("../images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding-bottom: 35px;
}
.icon {
    width: 80px;
    margin-top: 10px;
}
.service {
    font-size: 55px;
    padding: 15px;
    text-align: center;
}
.product {
    background-color: rgba(71, 70, 70, 0.39);
    box-shadow: 2px 5px 5px gray ;
    border: 1px solid black;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 15%;
    
}
.product-container {
    display: flex;
    justify-content: space-around;
}
.service-btn {
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: black;
    border: none;
    
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.service-btn:hover {
    background-color: #E2F6CA;
    color: #2e2e2e;
}
.product:hover {
    background-color: #2C3333;
}
.footer-bgc {
    background-color: #060606;
    padding-top: 25px;
}
.footer-container {
    
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 35px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    
    
}
.footer-li {
    list-style: none;
    margin-top: 10px;
    font-size: 14px;
}
.footer-para {
    color: white;
    margin-top: 10px;
}
.col-1 {
    width: 23%;
    font-size: 15px;
    
}
hr {
    color: white;
    width: 70%;
    height: 0.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}

.copyright-container p {
    padding: 25px;
    color: white;
    text-align: center;
}